<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="unauthorized-nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <div class="navbar-header">
            <img class="mr-3"
                 src="https://s.dou.ua/CACHE/images/img/static/companies/14522770_1334849446528287_5102070430205512651_n/c12673a231d9bbd5e218a46427bb5443.png"
                 style="width: 50px; height: 50px; border-radius: 50%"
                 alt="">
        </div>
        <a class="navbar-brand" href="/home">Home</a>
        <a href="/genres/select" class="navbar-brand">Books by genre</a>
        <a href="/authors/select" class="navbar-brand">Books by author</a>
        <a href="/login" class="btn btn-success ml-auto mr-5">Login</a>
    </nav>
</div>

<div class="authorized-nav">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="navbar-header">
            <img class="mr-3"
                 src="https://s.dou.ua/CACHE/images/img/static/companies/14522770_1334849446528287_5102070430205512651_n/c12673a231d9bbd5e218a46427bb5443.png"
                 style="width: 50px; height: 50px; border-radius: 50%"
                 alt="">
        </div>
        <a class="navbar-brand" href="/home">Home</a>
        <a href="/genres/select" class="navbar-brand">Books by genre</a>
        <a href="/authors/select" class="navbar-brand">Books by author</a>
        <div class="nav justify-content-end ml-auto mr-5">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle mr-3" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin features
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/genres">Genres</a>
                    <a class="dropdown-item" href="/authors">Authors</a>
                    <a class="dropdown-item" href="/books">Books</a>
                    <a class="dropdown-item" href="/orders">Orders</a>
                </div>
            </div>
            <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        </div>
    </nav>
</div>

</body>
</html>